<footer class="footer">
  <div class="footer-inner">
    <nav class="footer-nav">
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">บริษัท</h3>
        <ul class="footer-nav-list">
          <li><a href="https://www.page365.net/privacy-policy">Privacy Policy</a></li>
          <li><a href="https://www.page365.net/terms-of-service">Terms of Service</a></li>
          <li><a href="https://www.page365.net/jobs">ร่วมงานกับเรา</a></li>
          <li><a href="https://www.page365.net/blog">Blog</a></li>
          <li><i class="fas fa-paper-plane" style="color: #74BF95;"></i> {{#link 'new_request'}}ส่งปัญหาหรือคำถาม{{/link}}
          </li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">ร้านค้าใหม่</h3>
        <ul class="footer-nav-list">
          <li><a href="https://www.page365.net/categories/getting-started/">Page365 คืออะไร?</a></li>
          <li><a href="https://www.page365.net/high-security-standard">มาตรการรักษาความปอดภัยข้อมูล</a></li>
    
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">ร้านค้าสมาชิก</h3>
        <ul class="footer-nav-list"> 
          <li><a href="/hc/th/sections/900000352846">คำถามที่พบบ่อย (FAQ) </a></li>
          <li><a href="https://www.facebook.com/groups/2067334176837650/" target="_blank" class="Footer-nav-folder-item">Group สอบถามเรื่องการลงโฆษณาและค้าขาย</a></li>
        </ul>
      </div>
      <div class="footer-nav-column">
        <h3 class="footer-nav-title">โปรโมชั่นและพาร์ทเนอร์</h3>
        <ul class="footer-nav-list">
          
          <li><i class="fab fa-twitter" style="color: #74BF95;"></i> <a
              href="https://twitter.com/EvokoSupport">@EvokoSupport</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-bottom">
      <div class="footer-bottom-copyright">©2020 Softbaked Co., Ltd.</div>
      <!-- div class="footer-bottom-social">
        <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Twitter"><i
            class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/" target="_blank" rel="noopener"
          aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a href="http://www.youtube.com/user/" target="_blank" rel="noopener" aria-label="Youtube"><i
            class="fab fa-youtube"></i></a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
          aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      </div -->
      {{#if alternative_locales}}
      <div class="footer-bottom-language-selector">
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
            <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </span>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</footer>
